<html lang='en'>
  <head>
    <meta charset='UTF-8' />
    <meta name='viewport' content='width=device-width, initial-scale=1.0' />
    <title>Payment receipt</title>
    <style>
      @import
      url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");
      * { box-sizing: border-box; margin: 0; padding: 0; font-family: Inter; } body { min-height: 100svh; } header {
      display: flex; width: 100%; height: 7.625rem; justify-content: center; align-items: center; background: rgba(225,
      214, 214, 0.4); } h2 { color: #121a26; font-feature-settings: "liga" off, "clig" off; font-size: 1.5rem;
      font-weight: 600; } .template-main { display: flex; padding: 3.5rem 3.5rem 2rem 3.5rem; flex-direction: column;
      align-items: center; gap: 3.5rem; max-width: 790px; margin: 0 auto; } .heading { display: flex; flex-direction:
      column; justify-content: center; align-items: center; gap: 0.75rem; } .content { display: flex; flex-direction:
      column; gap: 2rem; } .template-header { color: var(--Neutral-Colors-Dark-2, #0a0a0a); text-align: center;
      font-size: 1.5rem; font-weight: 600; } .template-subheader { color: rgba(0, 0, 0, 0.8); text-align: center;
      font-size: 1.125rem; font-weight: 500; } .template-receiver-name { color: #111; font-size: 1.125rem; font-weight:
      600; } .template-welcome-message { color: rgba(17, 17, 17, 0.9); font-size: 1rem; font-weight: 400; }
      .editable-content-title { color: var(--Neutral-Colors-Dark-2, #0a0a0a); font-size: 1rem; font-weight: 600;
      opacity: 0.9; margin-bottom: 1.25rem; } .editable-content-list p { opacity: 0.9; color:
      var(--Neutral-Colors-Dark-2, rgba(17, 17, 17, 0.9)); font-size: 1rem; font-weight: 400; margin-bottom: 1rem; }
      .editable-content-list span { color: var(--Neutral-Colors-Dark-2, #0a0a0a); font-size: 1rem; font-weight: 600; }
      header h1 { color: #f37022; text-align: center; } .payment-confirmation { width: 100%; text-align: center;
      display: flex; padding: 40px; flex-direction: column; justify-content: center; align-items: center; gap: 20px;
      opacity: 0.9; background: #f6f8fb; } .payment-confirmation h2 { margin: 0; } .payment-confirmation h3 { font-size:
      2em; } .order-summary, .payment-details { margin: 20px 0; } .order-summary h3, .payment-details h3 {
      margin-bottom: 10px; color: #333; } table { width: 100%; border-collapse: collapse; margin-bottom: 20px; } table,
      th, td { border: 1px solid #ddd; } td { padding: 8px; text-align: left; } footer { text-align: center; margin-top:
      20px; } footer p { margin: 5px 0; } .template-btn { display: flex; height: 2.75rem; padding: 0.5rem 2.5rem;
      align-items: center; gap: 0.625rem; border-radius: 0.5rem; align-self: center; text-decoration: none; cursor:
      pointer; } .button-fill { border: none; color: white; background: #f97316; } .button-outline { border: 1px solid
      #f97316; color: #f97316; background: none; } .button-group { display: flex; flex-wrap: wrap; gap: 20px;
      justify-content: center; } .custom-list-items { list-style: none; } .custom-list-items li { display: flex;
      align-items: center; margin-bottom: 1rem; } .custom-list-items li svg { margin-right: 1rem; } .template-farewell p
      { color: #111; font-size: 0.875rem; font-weight: 500; margin-bottom: 0.5rem; } .closing-regards { color: rgba(17,
      17, 17, 0.9); font-family: Inter; font-size: 16px; font-style: normal; font-weight: 400; line-height: normal; } a
      { font-weight: 600; text-decoration: underline; color: #111; } .closing-regards a:hover { text-decoration:
      underline; } .link-faq { text-decoration: none; color: #f97316; font-weight: 600; } .link-email { text-decoration:
      none; color: #f97316; font-weight: 400; } .link { color: #f97316; text-decoration: none; } .link:hover {
      text-decoration: underline; } footer { background: #f3efef; display: flex; width: 100%; padding: 2rem 0;
      justify-content: center; } .footer-container { max-width: 790px; width: 100%; padding: 0 3rem; } footer .heading {
      display: flex; flex-direction: row; align-items: center; gap: 2.0625rem; margin-bottom: 1rem; } footer .content {
      display: flex; flex-direction: column; gap: 1.875rem; color: #5b5b5d; font-size: 0.875rem; font-weight: 400; }
      footer .content > span { margin-block-start: 1.3em; } footer .contact-support { color: #111; font-size: 0.875rem;
      font-weight: 600; text-decoration: underline; } footer hr { border-style: dashed; width: 100%; border-color:
      #969696; } .expiry-date { width: 100%; display: flex; gap: 4px; flex-direction: column; background-color: #f97316;
      color: white; padding: 40px; } .expiry-date .text { color: var(#fff); text-align: center; font-family: Inter;
      font-size: 24px; font-style: normal; font-weight: 500; line-height: 27px; } .expiry-date .date { color:
      var(#fafafa); text-align: center; font-family: Inter; font-size: 44px; font-style: normal; font-weight: 700;
      line-height: normal; }
    </style>
  </head>

  <body>
    <!-- Header -->
    <header class='Header'>
      <h2>
        <svg width='19' height='19' viewBox='0 0 19 19' fill='none' xmlns='http://www.w3.org/2000/svg'>
          <circle cx='4.5' cy='4.5' r='4' fill='#F97316' />
          <circle cx='14.5' cy='4.5' r='4' fill='#F97316' />
          <circle cx='4.5' cy='14.5' r='4' fill='#F97316' />
          <circle cx='14.5' cy='14.5' r='4' fill='#F97316' />
        </svg>
        <span>Boilerplate.</span>
      </h2>
    </header>
    <!-- Body -->
    <div class='template-main'>
      <div class='heading'>
        <div style='margin-bottom: 40px'>
          <svg xmlns='http://www.w3.org/2000/svg' width='236' height='178' viewBox='0 0 236 178' fill='none'>
            <path
              d='M61.716 132.981H61.6689C61.0805 132.933 60.4921 132.863 59.9037 132.774C59.8264 132.763 59.7521 132.736 59.685 132.696C59.6179 132.656 59.5593 132.603 59.5126 132.541C59.4659 132.478 59.432 132.406 59.4127 132.33C59.3935 132.255 59.3894 132.176 59.4006 132.098C59.4118 132.02 59.4381 131.946 59.478 131.879C59.518 131.811 59.5707 131.752 59.6333 131.706C59.6958 131.659 59.767 131.625 59.8427 131.605C59.9183 131.586 59.9971 131.582 60.0743 131.593C60.6431 131.676 61.2139 131.741 61.7866 131.788C61.9426 131.794 62.0898 131.863 62.1958 131.978C62.3017 132.093 62.3577 132.245 62.3515 132.402C62.3452 132.559 62.2772 132.706 62.1625 132.813C62.0477 132.919 61.8956 132.975 61.7395 132.969L61.716 132.981ZM67.6 132.756C67.5228 132.762 67.4451 132.753 67.3715 132.728C67.2979 132.704 67.2298 132.665 67.171 132.615C67.1123 132.564 67.0641 132.502 67.0292 132.433C66.9942 132.363 66.9733 132.288 66.9675 132.21C66.9617 132.133 66.9712 132.055 66.9954 131.981C67.0196 131.907 67.0581 131.839 67.1086 131.78C67.1592 131.721 67.2208 131.672 67.29 131.637C67.3591 131.602 67.4345 131.581 67.5118 131.575C68.0708 131.487 68.6415 131.375 69.2005 131.239C69.2758 131.221 69.3539 131.219 69.4302 131.232C69.5064 131.245 69.5794 131.272 69.645 131.313C69.7106 131.355 69.7675 131.408 69.8123 131.471C69.8572 131.535 69.8892 131.606 69.9066 131.682C69.942 131.834 69.916 131.993 69.8345 132.126C69.7529 132.259 69.6223 132.354 69.4712 132.39C68.8828 132.532 68.2943 132.65 67.7059 132.745L67.6 132.756ZM54.3021 131.316C54.2338 131.316 54.1662 131.304 54.102 131.28C53.5136 131.074 52.984 130.849 52.4309 130.613C52.3599 130.582 52.2955 130.538 52.2415 130.482C52.1875 130.427 52.1449 130.361 52.1162 130.289C52.0876 130.217 52.0733 130.14 52.0743 130.062C52.0753 129.985 52.0915 129.908 52.122 129.837C52.1526 129.765 52.1968 129.701 52.2522 129.647C52.3076 129.592 52.3731 129.55 52.4449 129.521C52.5168 129.492 52.5936 129.478 52.6709 129.479C52.7483 129.48 52.8247 129.496 52.8958 129.527C53.4253 129.757 53.9726 129.97 54.508 130.17C54.6385 130.218 54.7481 130.31 54.8173 130.431C54.8866 130.552 54.911 130.693 54.8864 130.83C54.8617 130.967 54.7896 131.091 54.6826 131.18C54.5757 131.269 54.4409 131.317 54.3021 131.316ZM74.8551 130.406C74.7448 130.407 74.6367 130.376 74.543 130.317C74.4494 130.259 74.374 130.175 74.3255 130.076C74.2561 129.936 74.2451 129.774 74.2947 129.625C74.3444 129.477 74.4507 129.354 74.5903 129.285C75.1022 129.037 75.6141 128.759 76.1143 128.47C76.1814 128.431 76.2556 128.405 76.3326 128.395C76.4095 128.385 76.4877 128.39 76.5626 128.411C76.6376 128.431 76.7077 128.466 76.7691 128.514C76.8305 128.561 76.8819 128.621 76.9204 128.688C76.9971 128.824 77.0172 128.984 76.9765 129.135C76.9357 129.285 76.8373 129.413 76.7027 129.491C76.179 129.792 75.6435 130.082 75.114 130.347C75.0262 130.39 74.9291 130.411 74.8315 130.406H74.8551ZM47.4707 127.891C47.3585 127.893 47.2483 127.862 47.1529 127.803C46.6528 127.484 46.1527 127.147 45.6643 126.805C45.5365 126.715 45.4492 126.579 45.4217 126.425C45.3941 126.271 45.4284 126.113 45.5172 125.984C45.6063 125.856 45.7424 125.768 45.8957 125.741C46.049 125.713 46.207 125.748 46.3351 125.837C46.8117 126.173 47.2942 126.492 47.7825 126.805C47.8887 126.874 47.97 126.975 48.0144 127.094C48.0587 127.212 48.0638 127.342 48.0288 127.464C47.9938 127.586 47.9206 127.693 47.8201 127.77C47.7196 127.847 47.5971 127.89 47.4707 127.891ZM81.1863 126.197C81.1009 126.196 81.0166 126.177 80.9394 126.14C80.8621 126.103 80.7938 126.05 80.7391 125.984C80.6889 125.925 80.6507 125.857 80.6268 125.783C80.6029 125.709 80.5936 125.632 80.5996 125.554C80.6057 125.477 80.6268 125.402 80.6618 125.333C80.6969 125.264 80.7451 125.202 80.8039 125.152L80.9333 125.016C81.3217 124.679 81.7159 124.331 82.1101 123.965C82.2248 123.858 82.377 123.802 82.5331 123.808C82.6893 123.814 82.8366 123.882 82.9427 123.997C83.0488 124.112 83.105 124.265 83.099 124.422C83.0929 124.579 83.025 124.726 82.9103 124.833C82.4985 125.211 82.0983 125.571 81.6982 125.913L81.5629 126.025C81.4621 126.126 81.3283 126.187 81.1863 126.197ZM41.3866 123.245C41.2407 123.244 41.1003 123.189 40.9923 123.091C40.551 122.684 40.1156 122.27 39.6979 121.857C39.5863 121.747 39.5227 121.598 39.521 121.441C39.5193 121.285 39.5798 121.134 39.689 121.022C39.7983 120.91 39.9474 120.846 40.1035 120.844C40.2596 120.843 40.41 120.903 40.5216 121.013C40.9335 121.42 41.3572 121.822 41.7867 122.194C41.8442 122.246 41.8908 122.31 41.9237 122.38C41.9567 122.451 41.9753 122.527 41.9786 122.605C41.9819 122.683 41.9697 122.761 41.9429 122.834C41.916 122.908 41.8749 122.975 41.822 123.032C41.7686 123.096 41.7022 123.149 41.6271 123.185C41.552 123.222 41.47 123.242 41.3866 123.245ZM86.6408 120.818C86.495 120.818 86.3545 120.763 86.2466 120.664C86.1314 120.559 86.0623 120.413 86.0546 120.257C86.0469 120.101 86.1011 119.948 86.2054 119.832C86.5938 119.401 86.988 118.964 87.3822 118.515C87.4321 118.453 87.4939 118.402 87.564 118.364C87.6341 118.327 87.7111 118.304 87.7902 118.297C87.8693 118.291 87.949 118.3 88.0245 118.325C88.0999 118.35 88.1696 118.39 88.2292 118.442C88.2888 118.495 88.3372 118.559 88.3714 118.631C88.4057 118.703 88.425 118.781 88.4284 118.861C88.4317 118.941 88.4189 119.02 88.3908 119.095C88.3627 119.169 88.3199 119.237 88.2648 119.295C87.8647 119.749 87.4705 120.192 87.088 120.623C87.0291 120.68 86.9589 120.725 86.8819 120.753C86.8048 120.782 86.7227 120.794 86.6408 120.788V120.818ZM36.2145 117.594C36.1251 117.595 36.0368 117.575 35.9563 117.536C35.8757 117.497 35.8051 117.44 35.7497 117.37C35.3731 116.892 35.0141 116.413 34.667 115.935C34.6215 115.872 34.589 115.801 34.5712 115.725C34.5534 115.649 34.5507 115.57 34.5633 115.494C34.5758 115.417 34.6034 115.343 34.6445 115.277C34.6855 115.211 34.7391 115.154 34.8023 115.109C34.9289 115.018 35.0859 114.982 35.2391 115.007C35.3923 115.033 35.5293 115.118 35.6202 115.244C35.9615 115.711 36.3086 116.177 36.6734 116.638C36.7418 116.725 36.7845 116.829 36.7966 116.939C36.8087 117.049 36.7898 117.16 36.7419 117.26C36.6941 117.36 36.6193 117.444 36.526 117.503C36.4327 117.562 36.3248 117.594 36.2145 117.594ZM91.6305 114.979C91.493 114.979 91.3598 114.931 91.2539 114.843C91.1345 114.744 91.0588 114.601 91.0434 114.447C91.0279 114.292 91.074 114.137 91.1716 114.016C91.5422 113.562 91.9129 113.107 92.2836 112.641C92.3322 112.58 92.3922 112.529 92.4603 112.492C92.5283 112.455 92.603 112.431 92.6801 112.423C92.7572 112.415 92.8352 112.422 92.9095 112.444C92.9839 112.466 93.0531 112.503 93.1133 112.552C93.2336 112.65 93.3104 112.792 93.327 112.947C93.3435 113.102 93.2984 113.257 93.2016 113.379L92.0836 114.76C92.0288 114.828 91.9598 114.883 91.8815 114.92C91.8031 114.958 91.7174 114.978 91.6305 114.979ZM32.025 111.188C31.9155 111.185 31.809 111.151 31.7175 111.091C31.6261 111.03 31.5532 110.945 31.5072 110.846C31.2248 110.297 30.96 109.747 30.7247 109.216C30.6933 109.145 30.6762 109.069 30.6743 108.991C30.6725 108.914 30.6858 108.836 30.7137 108.764C30.7416 108.692 30.7834 108.625 30.8368 108.569C30.8901 108.513 30.954 108.468 31.0248 108.437C31.0955 108.405 31.1716 108.388 31.2489 108.386C31.3263 108.384 31.4032 108.398 31.4753 108.426C31.5474 108.454 31.6134 108.496 31.6693 108.549C31.7253 108.603 31.7702 108.667 31.8015 108.738C32.0309 109.246 32.2839 109.777 32.5546 110.302C32.5901 110.372 32.6115 110.447 32.6177 110.525C32.6239 110.603 32.6147 110.681 32.5906 110.755C32.5665 110.829 32.5281 110.898 32.4775 110.957C32.4269 111.016 32.3651 111.065 32.2957 111.1C32.212 111.143 32.1191 111.165 32.025 111.164V111.188ZM96.3966 108.962C96.2868 108.962 96.1793 108.931 96.0862 108.872C95.9931 108.814 95.9181 108.731 95.8698 108.632C95.8214 108.533 95.8016 108.422 95.8125 108.313C95.8235 108.203 95.8648 108.099 95.9318 108.012L97.0144 106.612C97.0595 106.546 97.1177 106.489 97.1855 106.446C97.2532 106.402 97.3291 106.373 97.4084 106.361C97.4878 106.348 97.5688 106.352 97.6467 106.372C97.7245 106.391 97.7975 106.427 97.861 106.476C97.9246 106.526 97.9775 106.587 98.0163 106.658C98.0552 106.728 98.0793 106.806 98.0871 106.886C98.0948 106.967 98.0862 107.048 98.0616 107.124C98.037 107.201 97.997 107.272 97.9441 107.333L96.8614 108.732C96.8043 108.799 96.7328 108.852 96.6524 108.888C96.572 108.924 96.4845 108.941 96.3966 108.939V108.962ZM29.5949 103.944C29.4522 103.945 29.3137 103.894 29.2055 103.801C29.0972 103.707 29.0265 103.578 29.0065 103.436C28.9241 102.845 28.8712 102.214 28.8477 101.611C28.8477 101.455 28.9096 101.305 29.02 101.194C29.1303 101.083 29.28 101.021 29.4361 101.021C29.5921 101.021 29.7418 101.083 29.8521 101.194C29.9625 101.305 30.0245 101.455 30.0245 101.611C30.044 102.18 30.0931 102.748 30.1716 103.312C30.1823 103.389 30.1778 103.468 30.1581 103.543C30.1384 103.618 30.1041 103.689 30.0571 103.751C30.01 103.813 29.9512 103.865 29.884 103.904C29.8168 103.943 29.7426 103.969 29.6655 103.979L29.5949 103.944ZM101.074 102.875C100.964 102.876 100.856 102.845 100.762 102.788C100.668 102.73 100.592 102.646 100.543 102.547C100.494 102.448 100.474 102.337 100.484 102.227C100.495 102.117 100.536 102.012 100.604 101.924L101.68 100.519C101.777 100.402 101.916 100.328 102.066 100.31C102.217 100.293 102.368 100.335 102.489 100.427C102.609 100.519 102.69 100.655 102.714 100.805C102.737 100.955 102.702 101.109 102.616 101.234L101.527 102.621C101.474 102.691 101.405 102.748 101.327 102.788C101.249 102.828 101.162 102.849 101.074 102.851V102.875ZM198.026 99.6276C197.971 99.6333 197.916 99.6333 197.861 99.6276C197.787 99.6059 197.718 99.5697 197.658 99.5212C197.597 99.4726 197.547 99.4127 197.51 99.3447C197.473 99.2767 197.449 99.202 197.441 99.125C197.433 99.0479 197.439 98.9699 197.461 98.8955C197.608 98.3759 197.767 97.8091 197.926 97.2009C197.945 97.1257 197.979 97.0549 198.025 96.9928C198.072 96.9307 198.13 96.8783 198.197 96.8388C198.264 96.7994 198.337 96.7735 198.414 96.7626C198.491 96.7518 198.569 96.7563 198.644 96.7758C198.719 96.7957 198.789 96.8303 198.851 96.8776C198.913 96.925 198.965 96.9841 199.003 97.0516C199.042 97.1191 199.067 97.1937 199.077 97.271C199.087 97.3483 199.082 97.4268 199.062 97.5021C198.903 98.0925 198.744 98.6829 198.591 99.2202C198.552 99.3395 198.476 99.4434 198.375 99.5166C198.273 99.5899 198.151 99.6288 198.026 99.6276ZM105.723 96.7817C105.593 96.7813 105.467 96.7377 105.364 96.6578C105.241 96.5621 105.161 96.4213 105.141 96.2664C105.121 96.1115 105.163 95.955 105.258 95.8312L106.335 94.4259C106.431 94.3015 106.572 94.2203 106.728 94.2004C106.883 94.1805 107.04 94.2234 107.164 94.3197C107.288 94.416 107.369 94.5578 107.389 94.7139C107.409 94.87 107.366 95.0277 107.27 95.1522L106.188 96.5515C106.131 96.616 106.061 96.6673 105.983 96.702C105.905 96.7367 105.82 96.7538 105.735 96.7522L105.723 96.7817ZM30.2069 96.3625C30.1503 96.3709 30.0928 96.3709 30.0362 96.3625C29.8872 96.3163 29.7627 96.2126 29.6898 96.0742C29.617 95.9358 29.6019 95.7741 29.6479 95.6245C29.8185 95.0341 30.0245 94.4732 30.2363 93.9064C30.2619 93.83 30.3027 93.7596 30.3564 93.6997C30.4101 93.6398 30.4754 93.5915 30.5483 93.5578C30.6213 93.5242 30.7004 93.5058 30.7807 93.504C30.8609 93.5022 30.9408 93.5168 31.0152 93.5471C31.0896 93.5774 31.1571 93.6226 31.2134 93.68C31.2697 93.7375 31.3138 93.8058 31.3428 93.881C31.3718 93.9561 31.3852 94.0364 31.3821 94.117C31.379 94.1975 31.3595 94.2765 31.3248 94.3492C31.113 94.8865 30.9188 95.4297 30.7364 95.967C30.6939 96.0712 30.6226 96.161 30.5308 96.2259C30.4391 96.2907 30.3308 96.3279 30.2186 96.333L30.2069 96.3625ZM199.791 92.1233C199.754 92.1295 199.716 92.1295 199.679 92.1233C199.527 92.0946 199.392 92.0065 199.303 91.8782C199.215 91.7499 199.181 91.5918 199.209 91.4384C199.315 90.848 199.415 90.293 199.515 89.7026C199.527 89.625 199.555 89.5508 199.597 89.484C199.638 89.4173 199.692 89.3594 199.756 89.3136C199.819 89.2678 199.891 89.2351 199.968 89.2172C200.044 89.1994 200.123 89.1968 200.2 89.2095C200.277 89.2223 200.351 89.2503 200.418 89.2918C200.484 89.3333 200.542 89.3875 200.588 89.4514C200.633 89.5152 200.666 89.5875 200.684 89.664C200.702 89.7406 200.704 89.8199 200.691 89.8974C200.591 90.4878 200.491 91.0782 200.385 91.6687C200.354 91.8018 200.278 91.9199 200.169 92.0028C200.061 92.0857 199.927 92.1283 199.791 92.1233ZM110.43 90.6886C110.319 90.6892 110.211 90.6584 110.116 90.5997C110.022 90.541 109.947 90.4569 109.898 90.3569C109.849 90.257 109.83 90.1453 109.842 90.0348C109.854 89.9242 109.897 89.8193 109.965 89.7321L111.066 88.3387C111.113 88.2754 111.172 88.2224 111.241 88.1827C111.309 88.143 111.384 88.1174 111.462 88.1075C111.541 88.0976 111.62 88.1036 111.696 88.1251C111.772 88.1465 111.842 88.1831 111.904 88.2325C111.965 88.282 112.016 88.3433 112.054 88.4129C112.091 88.4825 112.114 88.559 112.122 88.6377C112.129 88.7165 112.121 88.7959 112.097 88.8713C112.073 88.9467 112.035 89.0166 111.983 89.0767L110.889 90.4642C110.835 90.5322 110.768 90.5876 110.69 90.6264C110.613 90.6652 110.528 90.6864 110.442 90.6886H110.43ZM33.7079 89.5431C33.5826 89.5419 33.461 89.5005 33.3607 89.4251C33.2367 89.3321 33.1541 89.1938 33.131 89.0402C33.1078 88.8865 33.146 88.73 33.2372 88.6044C33.5902 88.1261 33.9668 87.6479 34.3551 87.1814C34.4558 87.0616 34.5997 86.9869 34.7553 86.9736C34.9109 86.9603 35.0654 87.0096 35.1848 87.1106C35.3042 87.2116 35.3787 87.356 35.3919 87.5122C35.4052 87.6683 35.356 87.8233 35.2554 87.9431C34.8788 88.3859 34.5199 88.8464 34.1845 89.3011C34.1297 89.3763 34.058 89.4374 33.9751 89.4795C33.8923 89.5216 33.8007 89.5434 33.7079 89.5431ZM115.231 84.6958C115.096 84.6947 114.965 84.6467 114.861 84.5599C114.741 84.4608 114.666 84.3184 114.65 84.1637C114.635 84.0089 114.681 83.8542 114.778 83.7334L115.902 82.3636C115.95 82.3027 116.01 82.2519 116.077 82.2141C116.144 82.1762 116.219 82.1521 116.295 82.1431C116.372 82.134 116.45 82.1402 116.524 82.1613C116.599 82.1825 116.668 82.2181 116.729 82.2662C116.79 82.3142 116.84 82.3738 116.878 82.4415C116.916 82.5092 116.94 82.5837 116.949 82.6607C116.958 82.7378 116.952 82.8158 116.93 82.8905C116.909 82.9651 116.874 83.0348 116.826 83.0957L115.708 84.4596C115.653 84.5337 115.581 84.5937 115.498 84.6347C115.415 84.6758 115.324 84.6967 115.231 84.6958ZM200.827 84.5186H200.78C200.625 84.5065 200.48 84.4333 200.379 84.3149C200.278 84.1965 200.227 84.0426 200.238 83.8869C200.285 83.2964 200.321 82.706 200.356 82.1156C200.356 82.0355 200.372 81.9562 200.403 81.8826C200.435 81.809 200.481 81.7425 200.539 81.6873C200.596 81.6321 200.665 81.5892 200.74 81.5613C200.814 81.5335 200.894 81.5212 200.974 81.5252C201.129 81.5343 201.274 81.6046 201.378 81.7208C201.481 81.8369 201.535 81.9894 201.527 82.1451C201.498 82.7355 201.456 83.326 201.409 83.9164C201.411 83.9944 201.397 84.072 201.368 84.1446C201.34 84.2172 201.297 84.2834 201.243 84.3394C201.189 84.3954 201.124 84.4401 201.053 84.4709C200.981 84.5016 200.905 84.5179 200.827 84.5186ZM39.0153 84.0168C38.8932 84.0173 38.774 83.9797 38.6742 83.9092C38.5744 83.8387 38.4989 83.7388 38.4581 83.6233C38.4174 83.5079 38.4135 83.3825 38.4469 83.2647C38.4803 83.1469 38.5494 83.0424 38.6446 82.9658C39.5213 82.2573 40.0862 81.8794 40.1097 81.8617C40.24 81.7787 40.3976 81.7503 40.5486 81.7828C40.6995 81.8153 40.8317 81.906 40.9166 82.0353C41.0015 82.1647 41.0324 82.3223 41.0025 82.4743C40.9726 82.6263 40.8845 82.7604 40.757 82.8477C40.757 82.8477 40.2098 83.2138 39.386 83.881C39.2786 83.9703 39.143 84.0184 39.0035 84.0168H39.0153ZM120.174 78.8151C120.062 78.814 119.953 78.7808 119.859 78.7195C119.765 78.6582 119.691 78.5713 119.644 78.469C119.598 78.3667 119.582 78.2533 119.597 78.142C119.613 78.0308 119.66 77.9263 119.733 77.8409C120.115 77.3922 120.504 76.9435 120.91 76.5007C120.959 76.4386 121.021 76.3873 121.091 76.3498C121.161 76.3124 121.238 76.2896 121.318 76.2827C121.397 76.2759 121.476 76.2853 121.552 76.3102C121.627 76.3351 121.697 76.3751 121.757 76.4278C121.816 76.4804 121.865 76.5447 121.899 76.6166C121.933 76.6885 121.952 76.7666 121.956 76.8463C121.959 76.9259 121.946 77.0054 121.918 77.0799C121.89 77.1545 121.847 77.2225 121.792 77.28C121.404 77.7228 121.015 78.1656 120.615 78.6144C120.559 78.6789 120.489 78.7302 120.411 78.7649C120.333 78.7996 120.248 78.8167 120.162 78.8151H120.174ZM200.968 76.8431C200.818 76.8434 200.673 76.786 200.564 76.6829C200.455 76.5797 200.389 76.4385 200.38 76.2881C200.344 75.6977 200.303 75.1072 200.25 74.5168C200.236 74.3602 200.285 74.2045 200.385 74.0838C200.485 73.9631 200.63 73.8874 200.786 73.8733C200.942 73.8592 201.097 73.9079 201.217 74.0086C201.337 74.1094 201.413 74.254 201.427 74.4105C201.48 75.001 201.527 75.5914 201.556 76.1818C201.557 76.3325 201.5 76.4775 201.397 76.5873C201.294 76.697 201.153 76.7632 201.003 76.7722L200.968 76.8431ZM125.299 73.0939C125.15 73.0934 125.007 73.0364 124.899 72.9345C124.785 72.8278 124.718 72.6803 124.713 72.5243C124.707 72.3683 124.764 72.2165 124.87 72.102C125.27 71.6651 125.676 71.2341 126.082 70.809C126.191 70.7081 126.335 70.6527 126.484 70.6538C126.632 70.6549 126.775 70.7125 126.883 70.815C126.991 70.9175 127.057 71.0573 127.066 71.2063C127.076 71.3552 127.029 71.5023 126.935 71.6178L125.758 72.905C125.697 72.9713 125.622 73.0228 125.539 73.0556C125.455 73.0883 125.365 73.1014 125.276 73.0939H125.299ZM199.903 69.2502C199.769 69.2542 199.637 69.2118 199.53 69.1301C199.423 69.0485 199.347 68.9325 199.315 68.8015C199.179 68.2111 199.032 67.662 198.867 67.1188C198.846 67.0444 198.839 66.9664 198.847 66.8893C198.856 66.8122 198.879 66.7376 198.916 66.6696C198.953 66.6016 199.004 66.5416 199.064 66.4931C199.124 66.4445 199.193 66.4084 199.267 66.3867C199.417 66.3426 199.577 66.3594 199.714 66.4336C199.85 66.5077 199.952 66.633 199.997 66.7823C200.162 67.3727 200.321 67.9336 200.462 68.524C200.48 68.5996 200.484 68.6781 200.472 68.755C200.46 68.8319 200.433 68.9057 200.392 68.9721C200.352 69.0385 200.299 69.0962 200.236 69.1419C200.173 69.1876 200.102 69.2204 200.027 69.2384L199.903 69.2502ZM130.636 67.5911C130.52 67.5906 130.406 67.5555 130.309 67.4903C130.213 67.425 130.138 67.3325 130.094 67.2244C130.05 67.1163 130.039 66.9976 130.062 66.8831C130.085 66.7687 130.141 66.6637 130.224 66.5815L131.501 65.3416C131.556 65.2863 131.621 65.2424 131.692 65.2124C131.764 65.1824 131.841 65.167 131.919 65.167C131.996 65.167 132.073 65.1824 132.145 65.2124C132.217 65.2424 132.282 65.2863 132.336 65.3416C132.446 65.4522 132.507 65.6019 132.507 65.7579C132.507 65.9139 132.446 66.0635 132.336 66.1741C131.913 66.5756 131.495 66.9889 131.071 67.4022C131.013 67.4653 130.942 67.5149 130.863 67.5476C130.783 67.5802 130.698 67.5951 130.612 67.5911H130.636ZM136.267 62.3836C136.147 62.3834 136.031 62.3468 135.933 62.2785C135.835 62.2103 135.759 62.1137 135.717 62.0015C135.675 61.8894 135.668 61.767 135.697 61.6507C135.726 61.5344 135.789 61.4296 135.879 61.3503L137.232 60.1695C137.352 60.0685 137.507 60.0195 137.663 60.0334C137.82 60.0472 137.964 60.1227 138.065 60.2433C138.165 60.3639 138.214 60.5196 138.2 60.6763C138.186 60.833 138.111 60.9778 137.991 61.0788C137.544 61.4507 137.097 61.8345 136.649 62.2183C136.54 62.3238 136.395 62.383 136.243 62.3836H136.267ZM197.261 62.0707C197.154 62.0698 197.049 62.0397 196.958 61.9835C196.867 61.9273 196.792 61.8472 196.743 61.7518C196.473 61.2382 196.19 60.7304 195.89 60.2404C195.81 60.1064 195.786 59.9461 195.824 59.7944C195.861 59.6428 195.957 59.5123 196.09 59.4315C196.224 59.3511 196.383 59.3271 196.535 59.3648C196.686 59.4024 196.816 59.4986 196.896 59.6322C197.208 60.14 197.485 60.6714 197.785 61.2027C197.833 61.293 197.856 61.3943 197.854 61.4965C197.851 61.5988 197.821 61.6985 197.769 61.786C197.716 61.8736 197.641 61.9458 197.552 61.9957C197.463 62.0456 197.363 62.0714 197.261 62.0707ZM142.245 57.5952C142.152 57.5955 142.061 57.5737 141.978 57.5316C141.895 57.4895 141.823 57.4284 141.769 57.3532C141.722 57.2908 141.689 57.2199 141.67 57.1446C141.652 57.0692 141.648 56.9909 141.659 56.9142C141.671 56.8374 141.697 56.7636 141.737 56.6971C141.777 56.6306 141.83 56.5727 141.892 56.5266C142.375 56.1723 142.857 55.8299 143.34 55.4874C143.403 55.4428 143.474 55.4112 143.55 55.3944C143.626 55.3775 143.704 55.3757 143.78 55.3892C143.856 55.4026 143.929 55.431 143.994 55.4726C144.059 55.5143 144.116 55.5685 144.16 55.6321C144.205 55.6957 144.236 55.7674 144.253 55.8432C144.27 55.919 144.272 55.9974 144.258 56.0739C144.245 56.1503 144.217 56.2234 144.175 56.289C144.134 56.3545 144.08 56.4111 144.016 56.4557L142.592 57.4772C142.486 57.5575 142.355 57.5992 142.222 57.5952H142.245ZM192.789 55.883C192.711 55.8827 192.634 55.8669 192.563 55.8365C192.491 55.8061 192.426 55.7617 192.371 55.7059C191.979 55.3123 191.561 54.9187 191.118 54.525C191.001 54.4216 190.93 54.2759 190.92 54.1198C190.91 53.9637 190.962 53.81 191.065 53.6925C191.168 53.5752 191.313 53.5037 191.469 53.4938C191.625 53.4838 191.778 53.5362 191.895 53.6394C192.342 54.035 192.783 54.4542 193.207 54.8852C193.317 54.9958 193.378 55.1455 193.378 55.3014C193.378 55.4574 193.317 55.6071 193.207 55.7177C193.149 55.7743 193.079 55.8182 193.003 55.8466C192.928 55.8751 192.847 55.8874 192.766 55.883H192.789ZM148.659 53.3796C148.555 53.38 148.453 53.3529 148.363 53.3011C148.273 53.2493 148.199 53.1745 148.147 53.0844C148.07 52.9495 148.049 52.7896 148.088 52.6392C148.128 52.4889 148.225 52.3603 148.359 52.2814C148.876 51.9803 149.394 51.691 149.912 51.4076C149.98 51.3688 150.054 51.3438 150.131 51.3339C150.209 51.3241 150.287 51.3296 150.362 51.3502C150.437 51.3707 150.508 51.4059 150.569 51.4538C150.631 51.5016 150.682 51.5612 150.721 51.629C150.76 51.6968 150.785 51.7717 150.795 51.8492C150.804 51.9267 150.799 52.0054 150.778 52.0808C150.758 52.1562 150.723 52.2268 150.675 52.2885C150.627 52.3503 150.568 52.4021 150.5 52.4408C149.989 52.7183 149.483 53.0313 148.977 53.3029C148.863 53.37 148.73 53.397 148.6 53.3796H148.659ZM186.717 51.3013C186.618 51.3016 186.52 51.2751 186.434 51.2246C185.94 50.953 185.422 50.6873 184.893 50.4393C184.823 50.406 184.76 50.3591 184.708 50.3015C184.656 50.2438 184.616 50.1765 184.59 50.1033C184.564 50.0301 184.553 49.9525 184.557 49.8749C184.561 49.7973 184.58 49.7213 184.613 49.6511C184.646 49.5809 184.693 49.518 184.751 49.4659C184.808 49.4139 184.875 49.3737 184.948 49.3476C185.021 49.3216 185.098 49.3102 185.176 49.3141C185.253 49.3181 185.329 49.3373 185.399 49.3706C185.946 49.6304 186.481 49.9079 186.999 50.1913C187.115 50.2539 187.206 50.3533 187.259 50.474C187.311 50.5946 187.322 50.7294 187.29 50.857C187.257 50.9845 187.183 51.0976 187.08 51.1781C186.976 51.2586 186.848 51.302 186.717 51.3013ZM155.502 49.9906C155.365 49.9909 155.232 49.9432 155.126 49.8557C155.02 49.7682 154.948 49.6464 154.923 49.5113C154.897 49.3762 154.919 49.2363 154.985 49.1158C155.051 48.9952 155.157 48.9016 155.284 48.8511C155.837 48.6267 156.39 48.4141 156.949 48.2134C157.095 48.1652 157.253 48.1759 157.391 48.2431C157.529 48.3103 157.635 48.4287 157.687 48.5733C157.739 48.7178 157.733 48.877 157.67 49.0171C157.607 49.1572 157.492 49.2671 157.35 49.3234C156.808 49.5182 156.267 49.7249 155.726 49.9492C155.64 49.9842 155.547 49.9983 155.455 49.9906H155.502ZM179.656 48.3964C179.599 48.4022 179.542 48.4022 179.485 48.3964C178.932 48.2311 178.367 48.0776 177.808 47.9477C177.652 47.9109 177.517 47.8134 177.433 47.6767C177.348 47.5399 177.322 47.3751 177.358 47.2185C177.395 47.0619 177.492 46.9264 177.628 46.8417C177.765 46.757 177.929 46.7301 178.085 46.7669C178.673 46.9086 179.262 47.0621 179.85 47.2333C180.006 47.2552 180.147 47.3384 180.242 47.4647C180.337 47.5909 180.378 47.7498 180.356 47.9064C180.334 48.063 180.251 48.2044 180.126 48.2997C180 48.3949 179.841 48.4361 179.685 48.4141L179.656 48.3964ZM162.722 47.7411C162.585 47.7441 162.451 47.6992 162.344 47.6141C162.236 47.5289 162.162 47.4089 162.133 47.2746C162.117 47.1982 162.116 47.1193 162.13 47.0425C162.144 46.9657 162.174 46.8925 162.216 46.8271C162.259 46.7618 162.314 46.7056 162.379 46.6618C162.443 46.618 162.516 46.5875 162.592 46.572C163.181 46.4539 163.769 46.3417 164.357 46.2532C164.513 46.2289 164.673 46.2678 164.8 46.3614C164.928 46.455 165.013 46.5955 165.037 46.7521C165.061 46.9087 165.022 47.0685 164.929 47.1964C164.836 47.3243 164.696 47.4098 164.54 47.434C163.951 47.5226 163.404 47.6289 162.833 47.747C162.796 47.7503 162.758 47.7483 162.722 47.7411ZM172.095 47.0798H172.054C171.465 47.0444 170.877 47.0207 170.324 47.0148C170.168 47.0148 170.018 46.9526 169.908 46.8419C169.797 46.7312 169.735 46.581 169.735 46.4244C169.735 46.2678 169.797 46.1176 169.908 46.0069C170.018 45.8962 170.168 45.834 170.324 45.834C170.912 45.834 171.501 45.8635 172.118 45.8989C172.275 45.9036 172.422 45.9703 172.529 46.0844C172.636 46.1984 172.694 46.3505 172.689 46.5071C172.685 46.6637 172.618 46.812 172.504 46.9194C172.391 47.0268 172.239 47.0845 172.083 47.0798H172.095Z'
              fill='#E2E8F0'
            />
            <path d='M160.157 140.089H92.5547L105.906 30.967H166.194L172.49 39.3097L160.157 140.089Z' fill='#CBD5E1' />
            <path d='M152.842 140.089H85.2344L98.5853 30.967H166.193L152.842 140.089Z' fill='#E2E8F0' />
            <path d='M149.51 119.383H93.0234L102.656 40.6975H159.143L149.51 119.383Z' fill='white' />
            <path d='M130.457 85.0322L146.779 85.2271L146.462 87.76L130.457 87.4825V85.0322Z' fill='#E2E8F0' />
            <path d='M85.2344 140.09L93.3661 147.623L159.144 148.627L160.156 140.09H85.2344Z' fill='#CBD5E1' />
            <path
              d='M137.42 61.9883C137.42 61.9883 140.238 62.189 141.68 67.5088C143.121 72.8285 142.627 87.6777 142.627 87.6777L130.471 87.4828C130.471 87.4828 124.404 65.3832 137.42 61.9883Z'
              fill='#F97316'
            />
            <path d='M79.0023 30.0971L34.7852 66.1418L57.992 94.8061L102.209 58.7613L79.0023 30.0971Z' fill='#4ADE80' />
            <path d='M78.7626 38.0279L58.9648 54.1665L62.7974 58.9004L82.5951 42.7617L78.7626 38.0279Z' fill='white' />
            <path
              opacity='0.46'
              d='M62.9991 74.4073L55.9204 80.1777C54.9569 80.9631 54.8103 82.3836 55.5931 83.3504L56.5911 84.5831C57.3738 85.5499 58.7894 85.697 59.7529 84.9116L66.8317 79.1411C67.7952 78.3557 67.9417 76.9352 67.159 75.9684L66.161 74.7357C65.3782 73.7689 63.9626 73.6219 62.9991 74.4073Z'
              fill='white'
            />
            <path
              opacity='0.46'
              d='M88.8651 53.3251L69.1313 69.4116C68.1678 70.197 68.0213 71.6175 68.804 72.5843L69.802 73.817C70.5848 74.7838 72.0004 74.9309 72.9639 74.1455L92.6976 58.0589C93.6611 57.2735 93.8077 55.8531 93.0249 54.8863L92.0269 53.6535C91.2442 52.6867 89.8286 52.5397 88.8651 53.3251Z'
              fill='white'
            />
            <path
              opacity='0.3'
              d='M48.4973 71.0509C50.7201 71.0509 52.522 69.2428 52.522 67.0124C52.522 64.782 50.7201 62.9739 48.4973 62.9739C46.2746 62.9739 44.4727 64.782 44.4727 67.0124C44.4727 69.2428 46.2746 71.0509 48.4973 71.0509Z'
              fill='white'
            />
            <path
              opacity='0.3'
              d='M52.5833 67.3727C54.8061 67.3727 56.608 65.5646 56.608 63.3342C56.608 61.1038 54.8061 59.2957 52.5833 59.2957C50.3605 59.2957 48.5586 61.1038 48.5586 63.3342C48.5586 65.5646 50.3605 67.3727 52.5833 67.3727Z'
              fill='white'
            />
            <path
              d='M137.417 61.9879C137.417 61.9879 131.021 64.2965 133.252 82.3812C134.887 95.6303 129.362 113.172 121.195 113.384C113.028 113.597 97.9648 112.877 97.9648 112.877C97.9648 112.877 105.808 92.507 104.184 75.4024C103.935 73.0077 104.22 70.5873 105.02 68.3173C105.973 65.7135 107.744 63.0034 111.039 62.5606C117.618 61.6632 137.417 61.9879 137.417 61.9879Z'
              fill='#F97316'
            />
            <path
              d='M93.442 114.199L122.303 113.609C122.303 113.609 117.902 109.228 117.625 98.0747L77.9258 98.6651C78.6062 101.543 79.6524 104.321 81.0384 106.931C82.2375 109.172 84.0305 111.037 86.2193 112.319C88.4082 113.602 90.9078 114.253 93.442 114.199Z'
              fill='#4ADE80'
            />
            <path
              opacity='0.74'
              d='M93.442 114.199L122.303 113.609C122.303 113.609 117.902 109.228 117.625 98.0747L77.9258 98.6651C78.6062 101.543 79.6524 104.321 81.0384 106.931C82.2375 109.172 84.0305 111.037 86.2193 112.319C88.4082 113.602 90.9078 114.253 93.442 114.199Z'
              fill='#F97316'
            />
            <path d='M114.537 46.3772L113.531 53.0077H142.699L143.581 46.3772H114.537Z' fill='#16A34A' />
            <path
              opacity='0.48'
              d='M122.567 124.691C119.419 121.928 114.441 122.471 112.217 126.031C111.655 126.896 111.351 127.904 111.34 128.936C111.34 133.305 114.347 136.169 120.354 134.965C124.938 134.043 126.685 128.299 122.567 124.691Z'
              fill='white'
            />
            <path
              d='M189.377 140.284C198.339 140.284 205.605 132.994 205.605 124C205.605 115.007 198.339 107.717 189.377 107.717C180.414 107.717 173.148 115.007 173.148 124C173.148 132.994 180.414 140.284 189.377 140.284Z'
              fill='#4ADE80'
            />
            <path
              opacity='0.09'
              d='M189.377 140.284C198.339 140.284 205.605 132.994 205.605 124C205.605 115.007 198.339 107.717 189.377 107.717C180.414 107.717 173.148 115.007 173.148 124C173.148 132.994 180.414 140.284 189.377 140.284Z'
              fill='#121A26'
            />
            <path
              d='M190.111 135.874C199.074 135.874 206.339 128.583 206.339 119.59C206.339 110.596 199.074 103.306 190.111 103.306C181.148 103.306 173.883 110.596 173.883 119.59C173.883 128.583 181.148 135.874 190.111 135.874Z'
              fill='#4ADE80'
            />
            <path
              d='M192.433 109.795C192.974 109.883 193.11 110.102 193.021 110.645L192.827 111.826C194.945 112.493 196.01 113.792 196.611 115.841C196.799 116.431 196.611 116.744 195.946 116.921L194.704 117.246C194.116 117.417 193.88 117.246 193.669 116.656C193.525 116.027 193.184 115.462 192.695 115.043C192.207 114.624 191.597 114.374 190.956 114.329C188.955 113.993 187.938 114.43 187.708 115.776C187.567 116.65 188.296 117.329 189.073 117.636C189.612 117.851 190.165 118.032 190.727 118.179C191.786 118.412 192.807 118.798 193.757 119.324C194.234 119.566 194.663 119.895 195.022 120.293C195.368 120.806 195.608 121.385 195.727 121.993C195.847 122.602 195.843 123.228 195.716 123.835C195.287 126.409 193.274 127.874 190.162 127.809L189.956 129.043C189.862 129.586 189.667 129.745 189.126 129.633L187.826 129.415C187.284 129.32 187.131 129.102 187.237 128.559L187.437 127.378C185.131 126.669 183.754 125.199 183.319 122.938C183.218 122.389 183.466 122.064 184.048 121.946L185.272 121.71C185.896 121.597 186.131 121.786 186.29 122.418C186.59 123.829 187.537 124.674 189.144 124.939C191.309 125.305 192.509 124.803 192.745 123.404C192.815 123.084 192.778 122.75 192.638 122.454C192.499 122.158 192.265 121.917 191.974 121.769C191.265 121.379 190.504 121.095 189.714 120.924C188.642 120.684 187.615 120.273 186.672 119.708C186.203 119.449 185.785 119.107 185.437 118.698C185.084 118.209 184.837 117.651 184.71 117.061C184.584 116.47 184.581 115.86 184.701 115.268C185.125 112.717 187.014 111.283 190.097 111.389L190.291 110.208C190.379 109.665 190.603 109.511 191.144 109.618L192.433 109.795Z'
              fill='white'
            />
            <path
              d='M109.629 69.3328C109.552 69.3355 109.475 69.3229 109.402 69.2958C109.33 69.2686 109.263 69.2274 109.207 69.1745C109.15 69.1216 109.105 69.058 109.073 68.9874C109.04 68.9168 109.023 68.8406 109.02 68.763C109.017 68.6855 109.03 68.6082 109.057 68.5355C109.084 68.4629 109.125 68.3962 109.178 68.3395C109.23 68.2828 109.294 68.237 109.364 68.2048C109.434 68.1726 109.51 68.1547 109.588 68.152C109.711 68.152 122.015 67.2427 128.611 67.8331C128.767 67.8472 128.911 67.9229 129.011 68.0436C129.112 68.1643 129.16 68.3201 129.146 68.4767C129.132 68.6333 129.057 68.7779 128.937 68.8786C128.816 68.9794 128.661 69.0281 128.505 69.014C122.032 68.4236 109.794 69.3151 109.676 69.3269L109.629 69.3328Z'
              fill='white'
            />
            <path
              d='M108.652 77.3216C108.575 77.3243 108.498 77.3117 108.426 77.2845C108.353 77.2574 108.287 77.2161 108.23 77.1632C108.116 77.0564 108.049 76.9084 108.043 76.7518C108.038 76.5952 108.095 76.4429 108.201 76.3283C108.308 76.2137 108.455 76.1462 108.611 76.1407C108.735 76.1407 121.038 75.2315 127.634 75.8219C127.79 75.836 127.934 75.9117 128.035 76.0324C128.135 76.1531 128.184 76.3089 128.17 76.4655C128.156 76.622 128.08 76.7666 127.96 76.8674C127.84 76.9681 127.684 77.0168 127.528 77.0027C121.056 76.4123 108.823 77.3098 108.699 77.3157L108.652 77.3216Z'
              fill='white'
            />
            <path
              d='M108.538 85.6228C108.382 85.6291 108.23 85.5729 108.115 85.4666C108 85.3603 107.932 85.2126 107.926 85.056C107.92 84.8994 107.976 84.7468 108.082 84.6316C108.188 84.5165 108.335 84.4483 108.491 84.442C108.615 84.442 120.924 83.5327 127.514 84.1232C127.592 84.1301 127.667 84.1523 127.735 84.1884C127.804 84.2246 127.865 84.2739 127.915 84.3337C127.965 84.3934 128.002 84.4624 128.025 84.5367C128.048 84.611 128.057 84.6892 128.05 84.7667C128.043 84.8443 128.021 84.9197 127.985 84.9886C127.949 85.0576 127.899 85.1188 127.84 85.1687C127.78 85.2185 127.712 85.2562 127.638 85.2794C127.563 85.3026 127.486 85.311 127.408 85.304C120.936 84.7136 108.703 85.611 108.579 85.6169L108.538 85.6228Z'
              fill='white'
            />
            <path
              d='M107.758 93.924C107.681 93.9267 107.603 93.9142 107.531 93.887C107.459 93.8598 107.392 93.8186 107.336 93.7657C107.279 93.7128 107.234 93.6492 107.201 93.5786C107.169 93.508 107.152 93.4318 107.149 93.3543C107.146 93.2767 107.159 93.1994 107.186 93.1267C107.213 93.0541 107.254 92.9875 107.307 92.9307C107.359 92.874 107.423 92.8282 107.493 92.796C107.563 92.7638 107.639 92.7459 107.717 92.7432C107.84 92.7432 120.144 91.8339 126.74 92.4302C126.817 92.4372 126.892 92.4594 126.961 92.4955C127.03 92.5316 127.091 92.581 127.14 92.6408C127.19 92.7005 127.228 92.7695 127.251 92.8438C127.274 92.9181 127.282 92.9963 127.275 93.0738C127.268 93.1513 127.246 93.2268 127.21 93.2957C127.174 93.3647 127.125 93.4259 127.065 93.4757C127.006 93.5256 126.937 93.5633 126.863 93.5865C126.789 93.6097 126.711 93.6181 126.634 93.6111C120.161 93.0207 107.928 93.9181 107.805 93.924H107.758Z'
              fill='white'
            />
            <path
              d='M32.2033 146.006L33.7691 150.252L38.0004 151.823L33.7691 153.394L32.2033 157.64L30.6376 153.394L26.4062 151.823L30.6376 150.252L32.2033 146.006Z'
              fill='#E2E8F0'
            />
            <path
              d='M211.914 48.281L213.48 52.5269L217.711 54.098L213.48 55.6691L211.914 59.915L210.349 55.6691L206.117 54.098L210.349 52.5269L211.914 48.281Z'
              fill='#E2E8F0'
            />
            <path
              d='M22.6392 129.719L23.6569 132.479L26.4073 133.5L23.6569 134.521L22.6392 137.281L21.6215 134.521L18.8711 133.5L21.6215 132.479L22.6392 129.719Z'
              fill='#E2E8F0'
            />
            <path
              d='M200.608 19.7776L201.626 22.5374L204.376 23.5586L201.626 24.5799L200.608 27.3397L199.59 24.5799L196.84 23.5586L199.59 22.5374L200.608 19.7776Z'
              fill='#E2E8F0'
            />
            <path
              d='M168.146 17.4509L168.694 18.937L170.175 19.4869L168.694 20.0368L168.146 21.5228L167.598 20.0368L166.117 19.4869L167.598 18.937L168.146 17.4509Z'
              fill='#E2E8F0'
            />
          </svg>
        </div>
      </div>
      <div class='content'>
        <section class='payment-confirmation'>
          <h2>We have received your payment of</h2>
          <h3>${{paymentAmount}}</h3>
        </section>

        <section class='order-summary'>
          <h3>Order Summary</h3>
          <table>
            <tr>
              <td>Item</td>
              <td>{{itemQuantity}}</td>
              <td>${{itemPrice}}</td>
            </tr>
            <tr>
              <td>VAT</td>
              <td>{{vatPercent}}%</td>
              <td>${{vatPrice}}</td>
            </tr>
            <tr>
              <td>TOTAL</td>
              <td>{{totalPercent}}%</td>
              <td>${{totalPrice}}</td>
            </tr>
          </table>
        </section>
        <section class='payment-details'>
          <h3>Payment Details</h3>
          <table>
            <tr>
              <td>Amount</td>
              <td>${{totalAmount}}</td>
            </tr>
            <tr>
              <td>Payment Method</td>
              <td>Mastercard ending in {{cardEnding}}</td>
            </tr>
            <tr>
              <td>Reference ID</td>
              <td>{{referenceId}}</td>
            </tr>
            <tr>
              <td>Date</td>
              <td>{{date}}</td>
            </tr>
          </table>
        </section>
        <hr />

        <div class='content'>
          <div class='closing-regards'>
            <p><b>Have any questions about your order?</b></p>
            <br />
            <p>
              Give us a call at
              <a href='tel: (+234)-456-7890' class='link'>(+234)-456-7890</a>
              or Email us at
              <a href='mailto:support@llaihng.com' class='link'>support@llaihng.com</a>
            </p>
          </div>
          <div class='template-farewell'>
            <p>Regards,</p>
            <p>Boilerplate</p>
          </div>
        </div>
      </div>
    </div>

    <!-- Footer -->
    <footer>
      <div class='footer-container'>
        <div class='heading'>
          <svg width='25' height='24' viewBox='0 0 25 24' fill='none' xmlns='http://www.w3.org/2000/svg'>
            <path
              d='M18.8263 1.90393H22.1998L14.8297 10.3274L23.5 21.7899H16.7112L11.394 14.838L5.30995 21.7899H1.93443L9.81743 12.78L1.5 1.90393H8.46111L13.2674 8.25826L18.8263 1.90393ZM17.6423 19.7707H19.5116L7.44539 3.81706H5.43946L17.6423 19.7707Z'
              fill='#5B5B5D'
            />
          </svg>
          <svg xmlns='http://www.w3.org/2000/svg' width='25' height='24' viewBox='0 0 25 24' fill='none'>
            <g clip-path='url(#clip0_23775_3072)'>
              <path
                d='M12.5 2.16094C15.7063 2.16094 16.0859 2.175 17.3469 2.23125C18.5188 2.28281 19.1516 2.47969 19.5734 2.64375C20.1313 2.85938 20.5344 3.12188 20.9516 3.53906C21.3734 3.96094 21.6313 4.35938 21.8469 4.91719C22.0109 5.33906 22.2078 5.97656 22.2594 7.14375C22.3156 8.40937 22.3297 8.78906 22.3297 11.9906C22.3297 15.1969 22.3156 15.5766 22.2594 16.8375C22.2078 18.0094 22.0109 18.6422 21.8469 19.0641C21.6313 19.6219 21.3687 20.025 20.9516 20.4422C20.5297 20.8641 20.1313 21.1219 19.5734 21.3375C19.1516 21.5016 18.5141 21.6984 17.3469 21.75C16.0813 21.8062 15.7016 21.8203 12.5 21.8203C9.29375 21.8203 8.91406 21.8062 7.65313 21.75C6.48125 21.6984 5.84844 21.5016 5.42656 21.3375C4.86875 21.1219 4.46563 20.8594 4.04844 20.4422C3.62656 20.0203 3.36875 19.6219 3.15313 19.0641C2.98906 18.6422 2.79219 18.0047 2.74063 16.8375C2.68438 15.5719 2.67031 15.1922 2.67031 11.9906C2.67031 8.78438 2.68438 8.40469 2.74063 7.14375C2.79219 5.97187 2.98906 5.33906 3.15313 4.91719C3.36875 4.35938 3.63125 3.95625 4.04844 3.53906C4.47031 3.11719 4.86875 2.85938 5.42656 2.64375C5.84844 2.47969 6.48594 2.28281 7.65313 2.23125C8.91406 2.175 9.29375 2.16094 12.5 2.16094ZM12.5 0C9.24219 0 8.83438 0.0140625 7.55469 0.0703125C6.27969 0.126563 5.40313 0.332812 4.64375 0.628125C3.85156 0.9375 3.18125 1.34531 2.51563 2.01562C1.84531 2.68125 1.4375 3.35156 1.12813 4.13906C0.832812 4.90313 0.626563 5.775 0.570313 7.05C0.514063 8.33437 0.5 8.74219 0.5 12C0.5 15.2578 0.514063 15.6656 0.570313 16.9453C0.626563 18.2203 0.832812 19.0969 1.12813 19.8563C1.4375 20.6484 1.84531 21.3188 2.51563 21.9844C3.18125 22.65 3.85156 23.0625 4.63906 23.3672C5.40313 23.6625 6.275 23.8687 7.55 23.925C8.82969 23.9812 9.2375 23.9953 12.4953 23.9953C15.7531 23.9953 16.1609 23.9812 17.4406 23.925C18.7156 23.8687 19.5922 23.6625 20.3516 23.3672C21.1391 23.0625 21.8094 22.65 22.475 21.9844C23.1406 21.3188 23.5531 20.6484 23.8578 19.8609C24.1531 19.0969 24.3594 18.225 24.4156 16.95C24.4719 15.6703 24.4859 15.2625 24.4859 12.0047C24.4859 8.74688 24.4719 8.33906 24.4156 7.05938C24.3594 5.78438 24.1531 4.90781 23.8578 4.14844C23.5625 3.35156 23.1547 2.68125 22.4844 2.01562C21.8188 1.35 21.1484 0.9375 20.3609 0.632812C19.5969 0.3375 18.725 0.13125 17.45 0.075C16.1656 0.0140625 15.7578 0 12.5 0Z'
                fill='#5B5B5D'
              />
              <path
                d='M12.5 5.83594C9.09688 5.83594 6.33594 8.59688 6.33594 12C6.33594 15.4031 9.09688 18.1641 12.5 18.1641C15.9031 18.1641 18.6641 15.4031 18.6641 12C18.6641 8.59688 15.9031 5.83594 12.5 5.83594ZM12.5 15.9984C10.2922 15.9984 8.50156 14.2078 8.50156 12C8.50156 9.79219 10.2922 8.00156 12.5 8.00156C14.7078 8.00156 16.4984 9.79219 16.4984 12C16.4984 14.2078 14.7078 15.9984 12.5 15.9984Z'
                fill='#5B5B5D'
              />
              <path
                d='M20.3469 5.59214C20.3469 6.38902 19.7 7.0312 18.9078 7.0312C18.1109 7.0312 17.4688 6.38433 17.4688 5.59214C17.4688 4.79526 18.1156 4.15308 18.9078 4.15308C19.7 4.15308 20.3469 4.79995 20.3469 5.59214Z'
                fill='#5B5B5D'
              />
            </g>
            <defs>
              <clipPath id='clip0_23775_3072'>
                <rect width='24' height='24' fill='white' transform='translate(0.5)' />
              </clipPath>
            </defs>
          </svg>
          <svg width='25' height='24' viewBox='0 0 25 24' fill='none' xmlns='http://www.w3.org/2000/svg'>
            <path
              d='M17.5725 0H13.5278V16.3478C13.5278 18.2957 11.9722 19.8957 10.0363 19.8957C8.10034 19.8957 6.54469 18.2957 6.54469 16.3478C6.54469 14.4348 8.06577 12.8695 9.93257 12.8V8.69567C5.81872 8.7652 2.5 12.1391 2.5 16.3478C2.5 20.5913 5.88786 24 10.0708 24C14.2538 24 17.6416 20.5565 17.6416 16.3478V7.9652C19.1627 9.07827 21.0295 9.73913 23 9.77393V5.66957C19.9579 5.56522 17.5725 3.06087 17.5725 0Z'
              fill='#5B5B5D'
            />
          </svg>
          <svg xmlns='http://www.w3.org/2000/svg' width='25' height='24' viewBox='0 0 25 24' fill='none'>
            <path
              d='M14.9414 5.65873C15.1495 6.54092 15.9417 7.19811 16.8877 7.19811C17.992 7.19811 18.8873 6.30279 18.8873 5.19842C18.8873 4.09404 17.992 3.19873 16.8877 3.19873C15.922 3.19873 15.1167 3.88311 14.9292 4.79342C13.312 4.96686 12.0492 6.33842 12.0492 8.00061C12.0492 8.00436 12.0492 8.00717 12.0492 8.01092C10.2905 8.08498 8.68453 8.58561 7.40953 9.37592C6.93609 9.00936 6.34172 8.79092 5.69672 8.79092C4.14891 8.79092 2.89453 10.0453 2.89453 11.5931C2.89453 12.7162 3.55453 13.6837 4.50797 14.1309C4.60078 17.384 8.14547 20.0006 12.5058 20.0006C16.8661 20.0006 20.4155 17.3812 20.5036 14.1253C21.4495 13.6753 22.1039 12.7106 22.1039 11.594C22.1039 10.0462 20.8495 8.79186 19.3017 8.79186C18.6595 8.79186 18.068 9.00842 17.5955 9.37217C16.3092 8.57623 14.6855 8.07561 12.9089 8.00904C12.9089 8.00623 12.9089 8.00436 12.9089 8.00154C12.9089 6.81092 13.7939 5.82279 14.9414 5.66061V5.65873ZM7.29703 13.3715C7.34391 12.3553 8.01891 11.5753 8.80359 11.5753C9.58828 11.5753 10.1883 12.3994 10.1414 13.4156C10.0945 14.4319 9.50859 14.8012 8.72297 14.8012C7.93734 14.8012 7.25016 14.3878 7.29703 13.3715ZM16.2089 11.5753C16.9945 11.5753 17.6695 12.3553 17.7155 13.3715C17.7623 14.3878 17.0742 14.8012 16.2895 14.8012C15.5048 14.8012 14.918 14.4328 14.8711 13.4156C14.8242 12.3994 15.4233 11.5753 16.2089 11.5753ZM15.2752 15.7228C15.4223 15.7378 15.5161 15.8906 15.4589 16.0275C14.9761 17.1815 13.8361 17.9925 12.5058 17.9925C11.1755 17.9925 10.0364 17.1815 9.55266 16.0275C9.49547 15.8906 9.58922 15.7378 9.73641 15.7228C10.5989 15.6356 11.5317 15.5878 12.5058 15.5878C13.4798 15.5878 14.4117 15.6356 15.2752 15.7228Z'
              fill='#5B5B5D'
            />
          </svg>

          <svg xmlns='http://www.w3.org/2000/svg' width='25' height='24' viewBox='0 0 25 24' fill='none'>
            <g clip-path='url(#clip0_23775_3080)'>
              <path
                d='M22.7234 0H2.27187C1.29219 0 0.5 0.773438 0.5 1.72969V22.2656C0.5 23.2219 1.29219 24 2.27187 24H22.7234C23.7031 24 24.5 23.2219 24.5 22.2703V1.72969C24.5 0.773438 23.7031 0 22.7234 0ZM7.62031 20.4516H4.05781V8.99531H7.62031V20.4516ZM5.83906 7.43438C4.69531 7.43438 3.77188 6.51094 3.77188 5.37187C3.77188 4.23281 4.69531 3.30937 5.83906 3.30937C6.97813 3.30937 7.90156 4.23281 7.90156 5.37187C7.90156 6.50625 6.97813 7.43438 5.83906 7.43438ZM20.9516 20.4516H17.3937V14.8828C17.3937 13.5562 17.3703 11.8453 15.5422 11.8453C13.6906 11.8453 13.4094 13.2937 13.4094 14.7891V20.4516H9.85625V8.99531H13.2687V10.5609H13.3156C13.7891 9.66094 14.9516 8.70938 16.6813 8.70938C20.2859 8.70938 20.9516 11.0813 20.9516 14.1656V20.4516Z'
                fill='#5B5B5D'
              />
            </g>
            <defs>
              <clipPath id='clip0_23775_3080'>
                <rect width='24' height='24' fill='white' transform='translate(0.5)' />
              </clipPath>
            </defs>
          </svg>
        </div>
        <div class='content'>
          <span>
            Thank you for choosing Boilerplate.com. Need help?
            <a href='https://starlight-nestjs.teams.hng.tech/contact-us' class='contact-support'>Contact our customer
              support</a>
          </span>
          <hr />
          <p>
            You are receiving this email because you signed up at Boilerplate.com. Want to change how you receive these
            emails?
          </p>
          <p>
            You can
            <a href='#' style='color: #111; text-decoration: none'>update your preferences</a>
            or
            <a href='#' style='color: #111; text-decoration: none'>unsubscribe from this list</a>.
          </p>
        </div>
      </div>
    </footer>
  </body>
</html>