<html lang='en'>
  <head>
    <meta charset='UTF-8' />
    <meta name='viewport' content='width=device-width, initial-scale=1.0' />
    <title>Subscription Cancellation Confirmation</title>
    <style>
      @import
      url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");
      * { box-sizing: border-box; margin: 0; padding: 0; font-family: Inter; } body { min-height: 100svh; } header {
      display: flex; width: 100%; height: 7.625rem; justify-content: center; align-items: center; background: rgba(225,
      214, 214, 0.4); } h2 { color: #121a26; font-feature-settings: "liga" off, "clig" off; font-size: 1.5rem;
      font-weight: 600; } .template-main { display: flex; padding: 3.5rem; flex-direction: column; align-items: center;
      gap: 3.5rem; max-width: 790px; margin: 0 auto; } .heading { display: flex; flex-direction: column;
      justify-content: center; align-items: center; gap: 0.75rem; } .content { display: flex; flex-direction: column;
      gap: 2rem; } .template-header { color: var(--Neutral-Colors-Dark-2, #0a0a0a); text-align: center; font-size:
      1.5rem; font-weight: 600; } .template-subheader { color: rgba(0, 0, 0, 0.8); text-align: center; font-size:
      1.125rem; font-weight: 500; } .template-receiver-name { color: #111; font-size: 1.125rem; font-weight: 600; }
      .template-welcome-message { color: rgba(17, 17, 17, 0.9); font-size: 1rem; font-weight: 400; }
      .editable-content-title { color: var(--Neutral-Colors-Dark-2, #0a0a0a); font-size: 1rem; font-weight: 600;
      opacity: 0.9; margin-bottom: 1.25rem; } .editable-content-list p { opacity: 0.9; color:
      var(--Neutral-Colors-Dark-2, rgba(17, 17, 17, 0.9)); font-size: 1rem; font-weight: 400; margin-bottom: 1rem; }
      .editable-content-list span { color: var(--Neutral-Colors-Dark-2, #0a0a0a); font-size: 1rem; font-weight: 600; }
      .template-btn { display: flex; height: 2.75rem; padding: 0.5rem 2.5rem; align-items: center; gap: 0.625rem;
      border-radius: 0.5rem; align-self: center; text-decoration: none; cursor: pointer; } .button-fill { border: none;
      color: white; background: #f97316; } .button-outline { border: 1px solid #f97316; color: #f97316; background:
      none; } .button-group { display: flex; flex-wrap: wrap; gap: 20px; justify-content: center; } .custom-list-items {
      list-style: none; } .custom-list-items li { display: flex; align-items: center; margin-bottom: 1rem; }
      .custom-list-items li svg { margin-right: 1rem; } .template-farewell p { color: #111; font-size: 0.875rem;
      font-weight: 500; margin-bottom: 0.5rem; } .closing-regards { color: rgba(17, 17, 17, 0.9); font-family: Inter;
      font-size: 16px; font-style: normal; font-weight: 400; line-height: normal; } a { font-weight: 600;
      text-decoration: underline; color: #111; } .closing-regards a:hover { text-decoration: underline; } .link-faq {
      text-decoration: none; color: #f97316; font-weight: 600; } .link-email { text-decoration: none; color: #f97316;
      font-weight: 400; } footer { background: #f3efef; display: flex; width: 100%; padding: 2rem 0; justify-content:
      center; } .footer-container { max-width: 790px; width: 100%; padding: 0 3rem; } footer .heading { display: flex;
      flex-direction: row; align-items: center; gap: 2.0625rem; margin-bottom: 1rem; } footer .content { display: flex;
      flex-direction: column; gap: 1.875rem; color: #5b5b5d; font-size: 0.875rem; font-weight: 400; } footer .content >
      span { margin-block-start: 1.3em; } footer .contact-support { color: #111; font-size: 0.875rem; font-weight: 600;
      text-decoration: underline; } footer hr { border-style: dashed; width: 100%; border-color: #969696; }
    </style>
  </head>

  <body>
    <!-- Header -->
    <header class='Header'>
      <h2>
        <svg width='19' height='19' viewBox='0 0 19 19' fill='none' xmlns='http://www.w3.org/2000/svg'>
          <circle cx='4.5' cy='4.5' r='4' fill='#F97316' />
          <circle cx='14.5' cy='4.5' r='4' fill='#F97316' />
          <circle cx='4.5' cy='14.5' r='4' fill='#F97316' />
          <circle cx='14.5' cy='14.5' r='4' fill='#F97316' />
        </svg>
        <span>Boilerplate.</span>
      </h2>
    </header>
    <!-- Body -->
    <div class='template-main'>
      <div class='heading'>
        <div style='margin-bottom: 40px'>
          <svg xmlns='http://www.w3.org/2000/svg' width='178' height='178' viewBox='0 0 178 178' fill='none'>
            <path
              d='M12.7891 60.7441C12.7891 58.391 14.6972 56.4864 17.0468 56.4864C17.2818 56.4864 17.5061 56.5113 17.7303 56.5469C18.6987 54.7491 20.5997 53.5245 22.7855 53.5245C22.8567 53.5245 22.9244 53.5316 22.9956 53.5351C22.8639 53.0047 22.7855 52.4529 22.7855 51.8833C22.7855 48.1204 25.8365 45.0695 29.5994 45.0695C33.3623 45.0695 36.4132 48.1204 36.4132 51.8833C36.4132 52.4529 36.3349 53.0047 36.2032 53.5351C36.2744 53.5351 36.342 53.5245 36.4132 53.5245C39.5852 53.5245 42.1519 56.0948 42.1519 59.2632C42.1519 62.4351 39.5816 65.0019 36.4132 65.0019H16.4915L16.495 64.9627C14.4053 64.6922 12.7891 62.9086 12.7891 60.7441Z'
              fill='#E6E6E6'
            />
            <path
              d='M165.216 30.6408C165.216 28.3233 163.336 26.4436 161.018 26.4436C160.787 26.4436 160.563 26.4685 160.345 26.5041C159.391 24.7312 157.515 23.5244 155.361 23.5244C155.29 23.5244 155.223 23.5315 155.155 23.5351C155.287 23.0118 155.361 22.4706 155.361 21.9082C155.361 18.1986 152.353 15.1904 148.644 15.1904C144.934 15.1904 141.926 18.1986 141.926 21.9082C141.926 22.4706 142.004 23.0153 142.132 23.5351C142.065 23.5351 141.994 23.5244 141.926 23.5244C138.8 23.5244 136.266 26.0591 136.266 29.1848C136.266 32.3105 138.8 34.8452 141.926 34.8452H161.567V34.806C163.624 34.539 165.219 32.7804 165.219 30.6479L165.216 30.6408Z'
              fill='#E6E6E6'
            />
            <g opacity='0.03'>
              <path
                d='M93.0115 162.816C129.589 162.816 159.242 159.753 159.242 155.974C159.242 152.195 129.589 149.132 93.0115 149.132C56.4335 149.132 26.7812 152.195 26.7812 155.974C26.7812 159.753 56.4335 162.816 93.0115 162.816Z'
                fill='#000001'
              />
            </g>
            <path
              d='M132.841 134.739C132.524 134.739 132.204 134.689 131.887 134.582C130.321 134.055 129.473 132.361 130 130.791C142.062 94.8242 130.442 76.006 130.324 75.8174C129.438 74.429 129.833 72.5778 131.218 71.6842C132.603 70.7906 134.443 71.1751 135.344 72.5564C135.896 73.4037 148.74 93.742 135.675 132.695C135.255 133.949 134.087 134.739 132.838 134.739H132.841Z'
              fill='#2E3053'
            />
            <path
              d='M49.3768 119.734C45.3326 119.734 41.7976 117.968 39.4515 114.707C31.8082 104.073 46.6748 86.0631 48.3942 84.0445C49.4658 82.7843 51.3562 82.6348 52.6128 83.7099C53.8695 84.7815 54.0226 86.6718 52.951 87.9285C49.3839 92.1222 40.1386 105.405 44.3145 111.211C45.799 113.279 47.9884 114.087 50.8115 113.625C56.511 112.688 63.9514 106.295 67.1376 95.8922C67.6218 94.3116 69.295 93.4216 70.8756 93.9057C72.4563 94.3899 73.3463 96.0631 72.8621 97.6437C69.3626 109.064 60.6976 118.064 51.7834 119.531C50.9646 119.666 50.1636 119.73 49.3804 119.73L49.3768 119.734Z'
              fill='#2E3053'
            />
            <path
              d='M45.8306 81.606C45.8306 81.606 39.4831 82.617 40.2058 87.4017C40.9285 92.1863 48.3582 98.37 53.538 96.3907C58.7178 94.4149 56.0229 85.9848 56.0229 85.9848L45.8306 81.6024V81.606Z'
              fill='#FFD200'
            />
            <path
              opacity='0.44'
              d='M45.8306 81.606C45.8306 81.606 39.4831 82.617 40.2058 87.4017C40.9285 92.1863 48.3582 98.37 53.538 96.3907C58.7178 94.4149 56.0229 85.9848 56.0229 85.9848L45.8306 81.6024V81.606Z'
              fill='white'
            />
            <path
              d='M107.036 145.544C106.762 145.544 106.484 145.504 106.206 145.426C104.619 144.97 103.7 143.311 104.156 141.724C108.631 126.138 108.257 103.514 108.253 103.286C108.221 101.635 109.539 100.267 111.19 100.235C112.835 100.203 114.209 101.517 114.241 103.172C114.259 104.134 114.64 126.918 109.912 143.379C109.535 144.693 108.339 145.547 107.036 145.547V145.544Z'
              fill='#2E3053'
            />
            <path d='M116.254 126.334H100.43V156.519H130.597L114.542 146.672L116.254 126.334Z' fill='#FFD200' />
            <path
              d='M86.9767 145.544C85.6738 145.544 84.4776 144.689 84.1002 143.375C79.2978 126.651 83.8475 103.61 84.0433 102.638C84.3708 101.019 85.9479 99.9684 87.5677 100.296C89.1875 100.623 90.2377 102.201 89.9137 103.82C89.8674 104.045 85.4602 126.416 89.8568 141.724C90.3124 143.311 89.394 144.97 87.8062 145.426C87.5285 145.504 87.2508 145.544 86.9767 145.544Z'
              fill='#2E3053'
            />
            <path
              d='M95.9128 112.948C121.628 112.948 142.474 92.102 142.474 66.3869C142.474 40.6719 121.628 19.8257 95.9128 19.8257C70.1977 19.8257 49.3516 40.6719 49.3516 66.3869C49.3516 92.102 70.1977 112.948 95.9128 112.948Z'
              fill='#F9AA73'
            />
            <path
              opacity='0.09'
              d='M124.04 29.3737C128.626 35.0305 131.954 41.8408 133.489 49.4734C138.562 74.6853 122.235 99.2315 97.0235 104.305C83.3673 107.053 69.9105 103.511 59.6328 95.6893C70.1882 108.715 87.4364 115.59 105.016 112.055C130.228 106.982 146.554 82.4355 141.481 57.2235C139.156 45.6713 132.734 35.9917 124.04 29.3737Z'
              fill='#000001'
            />
            <path
              d='M82.0858 67.9765C84.5184 67.4874 85.6156 62.7406 84.5364 57.3743C83.4573 52.008 80.6106 48.0543 78.178 48.5435C75.7454 49.0327 74.6482 53.7794 75.7273 59.1457C76.8065 64.512 79.6532 68.4657 82.0858 67.9765Z'
              fill='#2E3053'
            />
            <path
              d='M108.984 62.5668C111.417 62.0776 112.514 57.3308 111.435 51.9645C110.356 46.5982 107.509 42.6445 105.076 43.1337C102.644 43.6229 101.547 48.3696 102.626 53.7359C103.705 59.1022 106.552 63.0559 108.984 62.5668Z'
              fill='#2E3053'
            />
            <path
              d='M80.8219 99.8331C80.2807 99.8331 79.8073 99.4415 79.7147 98.8932C79.6862 98.7117 76.9699 80.6589 97.9989 75.7817C119.049 70.9009 124.546 89.6301 124.599 89.8188C124.766 90.4169 124.418 91.0363 123.82 91.2036C123.225 91.3709 122.606 91.0221 122.438 90.4275C122.242 89.7369 117.433 73.5781 98.5079 77.9711C79.5047 82.3784 81.8222 97.8751 81.9326 98.5301C82.0323 99.1424 81.6193 99.7192 81.007 99.8188C80.9465 99.8295 80.8859 99.8331 80.8219 99.8331Z'
              fill='#2E3053'
            />
            <path
              opacity='0.36'
              d='M73.36 76.9968C77.0069 76.2634 79.6488 74.1048 79.2608 72.1753C78.8728 70.2458 75.6018 69.2762 71.9549 70.0095C68.308 70.7429 65.6661 72.9015 66.0541 74.831C66.4421 76.7605 69.713 77.7301 73.36 76.9968Z'
              fill='white'
            />
            <path
              opacity='0.36'
              d='M121.399 67.3392C125.046 66.6058 127.688 64.4472 127.3 62.5177C126.912 60.5882 123.641 59.6186 119.994 60.3519C116.347 61.0853 113.705 63.244 114.093 65.1734C114.481 67.1029 117.752 68.0726 121.399 67.3392Z'
              fill='white'
            />
            <path
              d='M77.2998 124.76L92.9068 127.373L87.9264 157.146L58.1719 152.165L75.6337 145.102L77.2998 124.76Z'
              fill='#FFD200'
            />
            <path
              d='M130.196 122.055C130.196 122.055 120.691 122.713 121.538 127.907C122.385 133.101 126.511 133.091 126.511 133.091C126.511 133.091 122.766 143.165 131.912 143.393C141.057 143.625 145.846 132.062 143.172 125.034C140.498 118.003 130.192 122.055 130.192 122.055H130.196Z'
              fill='#FFD200'
            />
            <path
              d='M144.434 114.878C144.434 114.878 123.9 107.921 124.587 116.476C125.274 125.031 136.339 123.71 142.451 124.938C148.564 126.163 151.924 118.37 144.434 114.881V114.878Z'
              fill='#FFD200'
            />
            <path
              opacity='0.44'
              d='M144.434 114.878C144.434 114.878 123.9 107.921 124.587 116.476C125.274 125.031 136.339 123.71 142.451 124.938C148.564 126.163 151.924 118.37 144.434 114.881V114.878Z'
              fill='white'
            />
            <path
              d='M73.1546 53.9626C72.7452 53.9626 72.3536 53.7383 72.1542 53.3502C71.873 52.7984 72.0902 52.1256 72.642 51.8408C72.8413 51.7376 77.1988 49.3986 78.3202 43.3182C78.4341 42.7094 79.0179 42.3036 79.6267 42.4175C80.2354 42.5314 80.6377 43.1152 80.5274 43.724C79.1959 50.9366 73.888 53.7205 73.6637 53.8344C73.4999 53.9198 73.3255 53.959 73.1546 53.959V53.9626Z'
              fill='#2E3053'
            />
            <path
              d='M112.145 47.3694C112.042 47.3694 111.939 47.3551 111.835 47.3266C104.37 45.1942 101.102 40.05 100.967 39.8328C100.639 39.306 100.799 38.6153 101.326 38.2878C101.853 37.9603 102.544 38.1205 102.871 38.6438C102.9 38.6901 105.858 43.2825 112.455 45.1657C113.049 45.3366 113.395 45.956 113.227 46.5541C113.085 47.0454 112.636 47.3694 112.149 47.3694H112.145Z'
              fill='#2E3053'
            />
            <path
              d='M45.9152 72.1826C45.9152 72.1826 42.4549 51.2961 52.1167 54.2402C58.2471 56.1092 52.3232 66.5613 54.3916 72.1826C56.4599 77.8038 60.8672 86.5579 56.492 89.7227C52.1167 92.8911 44.0569 92.3963 45.9188 72.1826H45.9152Z'
              fill='#FFD200'
            />
            <path
              opacity='0.73'
              d='M142.947 148.602C142.947 148.602 141.007 144.454 143.563 142.941C146.119 141.428 150.139 144.173 149.099 146.252C148.06 148.335 145.756 148.602 145.756 148.602H142.951H142.947Z'
              fill='#F9AA73'
            />
            <path
              d='M140.438 148.602L141.523 156.038L148.369 156.067L149.377 148.641L140.438 148.602Z'
              fill='#2E3053'
            />
            <path
              d='M144.908 148.619C144.908 148.619 144.747 145.116 148.012 144.878C151.276 144.643 154.21 150.082 151.704 153.347L149.147 148.712L144.908 148.619Z'
              fill='#F9AA73'
            />
            <path
              opacity='0.58'
              d='M144.905 148.619C144.905 148.619 143.883 144.486 140.434 144.871C136.984 145.255 135.66 149.798 137.554 152.781L140.434 148.602L144.905 148.619Z'
              fill='#F9AA73'
            />
          </svg>
        </div>
        <p class='template-header'>Subscription Cancellation Confirmation</p>
      </div>
      <div class='content'>
        <p class='template-receiver-name'>Hi {{name}},</p>
        <p class='template-welcome-message'>
          We regret to inform you that your subscription to Bi-monthly features has been cancelled. We appreciate your
          support and hope you’ve enjoyed our services during your subscription period.
        </p>

        <ul class='custom-list-items'>
          <li>
            <svg width='24' height='24' viewBox='0 0 24 24' fill='none'>
              <path
                d='M12 0L15.2414 8.75862L24 12L15.2414 15.2414L12 24L8.75862 15.2414L0 12L8.75862 8.75862L12 0Z'
                fill='rgba(249, 115, 22, 0.40)'
              />
            </svg>
            <b>Subscription ID:&nbsp;</b>
            {{subscriptionId}}
          </li>
          <li>
            <svg width='24' height='24' viewBox='0 0 24 24' fill='none'>
              <path
                d='M12 0L15.2414 8.75862L24 12L15.2414 15.2414L12 24L8.75862 15.2414L0 12L8.75862 8.75862L12 0Z'
                fill='rgba(249, 115, 22, 0.40)'
              />
            </svg>
            <b>Subscription Plan:&nbsp;</b>
            {{subscriptionPlan}}
          </li>
          <li>
            <svg width='24' height='24' viewBox='0 0 24 24' fill='none'>
              <path
                d='M12 0L15.2414 8.75862L24 12L15.2414 15.2414L12 24L8.75862 15.2414L0 12L8.75862 8.75862L12 0Z'
                fill='rgba(249, 115, 22, 0.40)'
              />
            </svg>
            <b>Cancellation Date:&nbsp;</b>
            {{cancellationDate}}
          </li>
        </ul>

        <div class='closing-regards'>
          <p>
            If you have any questions or need further assistance, please don’t hesitate to reach out to our customer
            <a
              href='https://starlight-nestjs.teams.hng.tech/contact-us'
              class='link-faq'
              style='font-weight: 400'
            >support</a>
            team or send a mail to us on
            <a href='mailto:help@boilerplate.com' class='link-email'>boilerplate@gmail.com</a>. Thank you for being a
            part of our community. We hope to serve you again in the future!
          </p>
        </div>

        <a href='{{linkToPay}}' class='template-btn button-fill'>Proceed to Account</a>
        <div class='template-farewell'>
          <p>Regards,</p>
          <p>Boilerplate</p>
        </div>
      </div>
    </div>
    <!-- Footer -->
    <footer>
      <div class='footer-container'>
        <div class='heading'>
          <svg width='25' height='24' viewBox='0 0 25 24' fill='none' xmlns='http://www.w3.org/2000/svg'>
            <path
              d='M18.8263 1.90393H22.1998L14.8297 10.3274L23.5 21.7899H16.7112L11.394 14.838L5.30995 21.7899H1.93443L9.81743 12.78L1.5 1.90393H8.46111L13.2674 8.25826L18.8263 1.90393ZM17.6423 19.7707H19.5116L7.44539 3.81706H5.43946L17.6423 19.7707Z'
              fill='#5B5B5D'
            />
          </svg>
          <svg xmlns='http://www.w3.org/2000/svg' width='25' height='24' viewBox='0 0 25 24' fill='none'>
            <g clip-path='url(#clip0_23775_3072)'>
              <path
                d='M12.5 2.16094C15.7063 2.16094 16.0859 2.175 17.3469 2.23125C18.5188 2.28281 19.1516 2.47969 19.5734 2.64375C20.1313 2.85938 20.5344 3.12188 20.9516 3.53906C21.3734 3.96094 21.6313 4.35938 21.8469 4.91719C22.0109 5.33906 22.2078 5.97656 22.2594 7.14375C22.3156 8.40937 22.3297 8.78906 22.3297 11.9906C22.3297 15.1969 22.3156 15.5766 22.2594 16.8375C22.2078 18.0094 22.0109 18.6422 21.8469 19.0641C21.6313 19.6219 21.3687 20.025 20.9516 20.4422C20.5297 20.8641 20.1313 21.1219 19.5734 21.3375C19.1516 21.5016 18.5141 21.6984 17.3469 21.75C16.0813 21.8062 15.7016 21.8203 12.5 21.8203C9.29375 21.8203 8.91406 21.8062 7.65313 21.75C6.48125 21.6984 5.84844 21.5016 5.42656 21.3375C4.86875 21.1219 4.46563 20.8594 4.04844 20.4422C3.62656 20.0203 3.36875 19.6219 3.15313 19.0641C2.98906 18.6422 2.79219 18.0047 2.74063 16.8375C2.68438 15.5719 2.67031 15.1922 2.67031 11.9906C2.67031 8.78438 2.68438 8.40469 2.74063 7.14375C2.79219 5.97187 2.98906 5.33906 3.15313 4.91719C3.36875 4.35938 3.63125 3.95625 4.04844 3.53906C4.47031 3.11719 4.86875 2.85938 5.42656 2.64375C5.84844 2.47969 6.48594 2.28281 7.65313 2.23125C8.91406 2.175 9.29375 2.16094 12.5 2.16094ZM12.5 0C9.24219 0 8.83438 0.0140625 7.55469 0.0703125C6.27969 0.126563 5.40313 0.332812 4.64375 0.628125C3.85156 0.9375 3.18125 1.34531 2.51563 2.01562C1.84531 2.68125 1.4375 3.35156 1.12813 4.13906C0.832812 4.90313 0.626563 5.775 0.570313 7.05C0.514063 8.33437 0.5 8.74219 0.5 12C0.5 15.2578 0.514063 15.6656 0.570313 16.9453C0.626563 18.2203 0.832812 19.0969 1.12813 19.8563C1.4375 20.6484 1.84531 21.3188 2.51563 21.9844C3.18125 22.65 3.85156 23.0625 4.63906 23.3672C5.40313 23.6625 6.275 23.8687 7.55 23.925C8.82969 23.9812 9.2375 23.9953 12.4953 23.9953C15.7531 23.9953 16.1609 23.9812 17.4406 23.925C18.7156 23.8687 19.5922 23.6625 20.3516 23.3672C21.1391 23.0625 21.8094 22.65 22.475 21.9844C23.1406 21.3188 23.5531 20.6484 23.8578 19.8609C24.1531 19.0969 24.3594 18.225 24.4156 16.95C24.4719 15.6703 24.4859 15.2625 24.4859 12.0047C24.4859 8.74688 24.4719 8.33906 24.4156 7.05938C24.3594 5.78438 24.1531 4.90781 23.8578 4.14844C23.5625 3.35156 23.1547 2.68125 22.4844 2.01562C21.8188 1.35 21.1484 0.9375 20.3609 0.632812C19.5969 0.3375 18.725 0.13125 17.45 0.075C16.1656 0.0140625 15.7578 0 12.5 0Z'
                fill='#5B5B5D'
              />
              <path
                d='M12.5 5.83594C9.09688 5.83594 6.33594 8.59688 6.33594 12C6.33594 15.4031 9.09688 18.1641 12.5 18.1641C15.9031 18.1641 18.6641 15.4031 18.6641 12C18.6641 8.59688 15.9031 5.83594 12.5 5.83594ZM12.5 15.9984C10.2922 15.9984 8.50156 14.2078 8.50156 12C8.50156 9.79219 10.2922 8.00156 12.5 8.00156C14.7078 8.00156 16.4984 9.79219 16.4984 12C16.4984 14.2078 14.7078 15.9984 12.5 15.9984Z'
                fill='#5B5B5D'
              />
              <path
                d='M20.3469 5.59214C20.3469 6.38902 19.7 7.0312 18.9078 7.0312C18.1109 7.0312 17.4688 6.38433 17.4688 5.59214C17.4688 4.79526 18.1156 4.15308 18.9078 4.15308C19.7 4.15308 20.3469 4.79995 20.3469 5.59214Z'
                fill='#5B5B5D'
              />
            </g>
            <defs>
              <clipPath id='clip0_23775_3072'>
                <rect width='24' height='24' fill='white' transform='translate(0.5)' />
              </clipPath>
            </defs>
          </svg>
          <svg width='25' height='24' viewBox='0 0 25 24' fill='none' xmlns='http://www.w3.org/2000/svg'>
            <path
              d='M17.5725 0H13.5278V16.3478C13.5278 18.2957 11.9722 19.8957 10.0363 19.8957C8.10034 19.8957 6.54469 18.2957 6.54469 16.3478C6.54469 14.4348 8.06577 12.8695 9.93257 12.8V8.69567C5.81872 8.7652 2.5 12.1391 2.5 16.3478C2.5 20.5913 5.88786 24 10.0708 24C14.2538 24 17.6416 20.5565 17.6416 16.3478V7.9652C19.1627 9.07827 21.0295 9.73913 23 9.77393V5.66957C19.9579 5.56522 17.5725 3.06087 17.5725 0Z'
              fill='#5B5B5D'
            />
          </svg>
          <svg xmlns='http://www.w3.org/2000/svg' width='25' height='24' viewBox='0 0 25 24' fill='none'>
            <path
              d='M14.9414 5.65873C15.1495 6.54092 15.9417 7.19811 16.8877 7.19811C17.992 7.19811 18.8873 6.30279 18.8873 5.19842C18.8873 4.09404 17.992 3.19873 16.8877 3.19873C15.922 3.19873 15.1167 3.88311 14.9292 4.79342C13.312 4.96686 12.0492 6.33842 12.0492 8.00061C12.0492 8.00436 12.0492 8.00717 12.0492 8.01092C10.2905 8.08498 8.68453 8.58561 7.40953 9.37592C6.93609 9.00936 6.34172 8.79092 5.69672 8.79092C4.14891 8.79092 2.89453 10.0453 2.89453 11.5931C2.89453 12.7162 3.55453 13.6837 4.50797 14.1309C4.60078 17.384 8.14547 20.0006 12.5058 20.0006C16.8661 20.0006 20.4155 17.3812 20.5036 14.1253C21.4495 13.6753 22.1039 12.7106 22.1039 11.594C22.1039 10.0462 20.8495 8.79186 19.3017 8.79186C18.6595 8.79186 18.068 9.00842 17.5955 9.37217C16.3092 8.57623 14.6855 8.07561 12.9089 8.00904C12.9089 8.00623 12.9089 8.00436 12.9089 8.00154C12.9089 6.81092 13.7939 5.82279 14.9414 5.66061V5.65873ZM7.29703 13.3715C7.34391 12.3553 8.01891 11.5753 8.80359 11.5753C9.58828 11.5753 10.1883 12.3994 10.1414 13.4156C10.0945 14.4319 9.50859 14.8012 8.72297 14.8012C7.93734 14.8012 7.25016 14.3878 7.29703 13.3715ZM16.2089 11.5753C16.9945 11.5753 17.6695 12.3553 17.7155 13.3715C17.7623 14.3878 17.0742 14.8012 16.2895 14.8012C15.5048 14.8012 14.918 14.4328 14.8711 13.4156C14.8242 12.3994 15.4233 11.5753 16.2089 11.5753ZM15.2752 15.7228C15.4223 15.7378 15.5161 15.8906 15.4589 16.0275C14.9761 17.1815 13.8361 17.9925 12.5058 17.9925C11.1755 17.9925 10.0364 17.1815 9.55266 16.0275C9.49547 15.8906 9.58922 15.7378 9.73641 15.7228C10.5989 15.6356 11.5317 15.5878 12.5058 15.5878C13.4798 15.5878 14.4117 15.6356 15.2752 15.7228Z'
              fill='#5B5B5D'
            />
          </svg>

          <svg xmlns='http://www.w3.org/2000/svg' width='25' height='24' viewBox='0 0 25 24' fill='none'>
            <g clip-path='url(#clip0_23775_3080)'>
              <path
                d='M22.7234 0H2.27187C1.29219 0 0.5 0.773438 0.5 1.72969V22.2656C0.5 23.2219 1.29219 24 2.27187 24H22.7234C23.7031 24 24.5 23.2219 24.5 22.2703V1.72969C24.5 0.773438 23.7031 0 22.7234 0ZM7.62031 20.4516H4.05781V8.99531H7.62031V20.4516ZM5.83906 7.43438C4.69531 7.43438 3.77188 6.51094 3.77188 5.37187C3.77188 4.23281 4.69531 3.30937 5.83906 3.30937C6.97813 3.30937 7.90156 4.23281 7.90156 5.37187C7.90156 6.50625 6.97813 7.43438 5.83906 7.43438ZM20.9516 20.4516H17.3937V14.8828C17.3937 13.5562 17.3703 11.8453 15.5422 11.8453C13.6906 11.8453 13.4094 13.2937 13.4094 14.7891V20.4516H9.85625V8.99531H13.2687V10.5609H13.3156C13.7891 9.66094 14.9516 8.70938 16.6813 8.70938C20.2859 8.70938 20.9516 11.0813 20.9516 14.1656V20.4516Z'
                fill='#5B5B5D'
              />
            </g>
            <defs>
              <clipPath id='clip0_23775_3080'>
                <rect width='24' height='24' fill='white' transform='translate(0.5)' />
              </clipPath>
            </defs>
          </svg>
        </div>
        <div class='content'>
          <span>
            Thank you for choosing Boilerplate.com. Need help?
            <a href='https://starlight-nestjs.teams.hng.tech/contact-us' class='contact-support'>Contact our customer
              support</a>
          </span>
          <hr />
          <p>
            You are receiving this email because you signed up at Boilerplate.com. Want to change how you receive these
            emails?
          </p>
          <p>
            You can
            <a href='#' style='color: #111; text-decoration: none'>update your preferences</a>
            or
            <a href='#' style='color: #111; text-decoration: none'>unsubscribe from this list</a>.
          </p>
        </div>
      </div>
    </footer>
  </body>
</html>